{{define "title"}}Create User{{end}}

{{define "main"}}
    <h1>Create User</h1>
    <form action="/u" method="POST">
        <label>
            Username
            <input type="text" placeholder="username" name="username" />
        </label>
        <label>
            Secret
            <input type="password" placeholder="psspsspsspss" name="secret" />
        </label>
        <button type="submit">Create</button>
    </form>
{{end}}
