{{define "title"}}Login{{end}}

{{define "main"}}
    <h1>Login</h1>
    <form action="/u/auth" method="POST">
        <label>
            Username
            <input type="text" placeholder="username" name="username" />
        </label>
        <label>
            Secret
            <input type="password" placeholder="psspsspsspss" name="secret" />
        </label>
        <button type="submit">Login</button>
    </form>
{{end}}
