{{define "title"}}Create Post{{end}}

{{define "main"}}
    <h1>Whatcha Got?</h1>
    <form action="/p" method="POST">
        <label>
            Title
            <input type="text" placeholder="NYC Voted Best Place to Live By NYers" name="title" />
            <span>Title will be automatically pulled from URL if not provided.</span>
        </label>
        <label>
            Description
            <textarea placeholder="Spit it out already." name="description"></textarea>
        </label>
        <label>
            URL
            <input type="url" placeholder="https://cheesy.pizza/01/01/1970/first-post" name="url" />
        <button type="submit">Yup</button>
    </form>
{{end}}
