{{define "title"}}{{.post.Title}}{{end}}

{{define "main"}}
    <a class="title" href="{{.post.URL.String}}" target="_blank">{{.post.Title}}</a>
    <span class="post-tags">
    {{range $tag := .post.R.Tags}}
        <span class="post-tag-{{$tag.Tag}}">{{$tag.Tag}}</span>
    {{end}}
    </span>
    <span class="post-domain">{{.post.URL.String}} (Pretty URL)</span>
    <span class="post-author">by <a href="u/{{.post.R.User.ID}}">{{.post.R.User.Username}}</a></span>
    <span class="post-date">{{.post.CreatedAt.Format "Jan 02, 2006 15:04"}}</span>
    <span class="actions">
        <span class="action-flag">Flag</span>
        <span class="action-hide">Hide</span>
    </span>
    {{ if .post.Description.Valid }}
    <p>{{.post.Description.String}}</p>
    {{end}}
    <form action="/p/{{.post.ID}}/comment" method="POST">
        <textarea placeholder="This better be good." name="comment"></textarea>
        <button type="submit">Yup</button>
        <button class="preview" type="button">Preview</button>
    </form>
    {{template "comments" .}}
{{end}}
