{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{template "title" .}} | newsstand.nyc</title>
    <link rel="stylesheet" href="https://unpkg.com/@blaze/css@x.x.x/dist/blaze/blaze.css">
    <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
</head>
<body>
    {{template "messages" .}}
    {{template "main" .}}
</body>
</html>
{{end}}
