{{define "comments"}}
<div id="post-comments">
    {{range $comment := .comments }}
    <span class="comment-author">by <a href="/u/{{$comment.username}}">{{$comment.username}}</a></span>
    <span class="comment-created-at">{{$comment.created_at}}</span>
    <span class="actions">
        <span class="action-flag">Flag</span>
        <span class="action-hide">Hide</span>
        <span class="action-reply">Reply</span>
    </span>
    <div class="c-alert c-alert--info" role="alert">
        {{ $comment.body }}
    </div>
    {{ end }}
</div>
{{end}}
